* {
  font-family: monospace;
  margin: 0;
}


nav {
  /* border: 1px solid grey; */
  display: flex;
  background-color: #EADEB8;
  padding: 12px;

}

nav, ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  list-style-type: none;
  padding: 7px;

}

li:hover {
  background-color: whitesmoke;
  border-radius: 0.5em;
}

a {
  text-decoration: none;
  color: grey;
 font-size: 20px;
}

.main-container {
  display: flex;
  margin-top: 10px;


}

.img-1 {
  /* border: 1px solid grey; */
  flex-basis: 50%;
    text-align: center;
      flex-wrap: wrap;

}

.img-2 {
  /* border: 1px solid grey; */
  flex-basis: 50%;
  text-align: center;
    flex-wrap: wrap;
    margin: 0;

}

.img-shadow {
  padding: 8px;
  margin: 12px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

p {
  text-align: left;
  padding: 5px;
  color: grey;
}

.info {
  border:  3px solid #CFB784;
  border-radius: 1em;
  margin: 15px;


}

.get-container {
  padding: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #A09F57;
  border-radius: 0.5em;
  width: 50%;
  margin: auto;

}



button {
  border: none;
  width: 120px;
  cursor:pointer;
  font-size: 20px;
  font-weight: 100;
  background:grey;
  color: whitesmoke;
}
button:hover {
  background: #A09F57;
  color: whitesmoke;

}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #EADEB8;
   color: grey;
   display: flex;
   justify-content: center;
   padding: 5px;

}

@media only screen and (max-width:736px) {
    .main-container {
        display:flex;
        flex-direction: column;
    }

    img {
      width: 100%;
      height:100%;
    }
}
